.form{
  text-align: right;
}

.form button {
  color: white;
  font: inherit;
  font-weight: bold;
  cursor: pointer;
  background-color: #4ca5b7;
  border: 1px solid #4ca5b7;
  border-radius: 20px;
  padding: 0.5rem 1.5rem;
}

.form button:hover,
.form button:active {
  background-color: #2817af;
  border-color: #2817af;
}