.button {
  background-color: transparent;
  border-color: #36a4c5;
  color: white;
  margin-right: 2rem;
}

.button:hover,
.button:active {
  color: white;
}

.button span {
  margin: 0 0.5rem;
}

.badge {
  background-color: #d83535;
  border-radius: 30px;
  padding: 0.15rem 1.25rem;
  color: #1d1d1d;
}