.button {
  background-color: transparent;
  /* border-color: #36a4c5; */
  color: white;
  /* margin-right: 0.25rem; */
  margin-left: 0.2rem;
  font-size: 1.25rem;
}

.button:hover,
.button:active {
  color: #4ca5b7;
}

.button span {
  margin: 0 0.5rem;
}

.badge {
  background-color: #d83535;
  border-radius: 20px;
  padding: 0.15rem 0.75rem;
  color: #1d1d1d;
}