.item{
  border-bottom: 1px solid #ccc;
  padding: 0.5rem;
}
.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quantity span {
  font-weight: bold;
  border: 1px solid #26b4df;
  padding: 0.25rem 0.75rem;
  border-radius: 6px;
  color: #26b4df;
}

.price {
  font-size: 1.5rem;
  font-weight: bold;
}

.itemprice {
  font-weight: normal;
  font-size: 1rem;
  font-style: italic;
}

.actions {
  display: flex;
  flex-direction: column;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: #4ca5b7;
  border: 1px solid #4ca5b7;
  color: white;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 0.25rem;
}

@media (min-width: 768px) {
  .actions {
    flex-direction: row;
  }
}

.actions button:hover,
.actions button:active {
  background-color: #2817af;
  border-color: #2817af;
  color: white;
}

.actions .button--alt {
  color: #4ca5b7;
}

.actions .button {
  background-color: #4ca5b7;
  color: white;
}