.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(46, 46, 118);
  padding: 0 10%;
  height: 5rem;
  width: 100%;
}

 .header li,a {
  font-size: 16px;
  font-weight: 500;
  color: white;
  text-decoration: none;
} 

.nav__links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #4ca5b7;
}

.logo {
  cursor: pointer;
  margin-right: auto;
}

.actions {
  margin-left: 20px;
}