.products {
  display: flex;
  justify-content: space-around;
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

.products h3 {
  margin: 0 0 0.25rem 0;
}

.price {
  margin: 0.25rem 0;
  font-weight: bold;
  color: lightblue;
  font-size: 1.2rem;
}

.description {
  font-size: italic;
}

.imageContainer {
  width: 15%;
  display: flex;
  align-items: center;
}

.image {
  height: 5rem;
  width: 7rem;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: #e13333;
  border: 1px solid #e13333;
  color: white;
  padding: 0.2rem 1rem;
  border-radius: 10px;
}

.actions button:hover,
.actions button:active {
  background-color: #881408;
  border-color: #881408;
  color: white;
}