.product {
  max-width: 60rem;
  width: 90%;
  margin: 2rem auto;
}

.product ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.product h1 {
  font-size: 1.75rem;
  font-weight: bold;
  text-align: center;
  padding-bottom: 0.5rem;
}